[DEFAULT]
; 是否制种
make_torrent = true

; 生成截图的数量
screenshot_count = 6
; 图床，差速器支持PTPIMG、自建imgurl、自建Chevereto（z4a、imgbb、猫柠的图床等）、SM.MS和BYR作为图床
image_hosting = CHEVERETO
; 自建Chevereto的地址
chevereto_hosting_url = https://XXX.com
; 自建Chevereto的用户名
chevereto_username = XXXX
; 自建Chevereto的密码
chevereto_password = YYYY
; 如果使用PTPIMG作为图床，需要设置API Key
ptpimg_api_key = XXXXXXXXXXXXX

; 自动填充使用的脚本，这里使用树大的脚本
easy_upload = true
; 也可以使用明日大的脚本来进行自动填充
; auto_feed = true

; 使用差速器自带的短网址服务
use_short_url = true

; 差速器自带一个自建的PTGen，如果无法访问，可以提供自定义PTGen地址
;ptgen_url = https://XXXXX.com

[NexusPHP]
; 发种页面的链接
upload_url = https://XXXXX.com/upload.php


[PTerClub]

[LemonHD]

[LeagueOfficial]
screenshot_count = 10
image_hosting = CHEVERETO
chevereto_hosting_url = https://imgbox.xxxxxxx.com
chevereto_username = xxxx@xxxx.com
chevereto_password = xxxxxxxxxxxxxxxxxxxxxx
upload_type = tv
team = LeagueTV
source_name = HDTV

[CHDBits]
